myenv/*
*cache*
*env*
context.json
_*
node_modules/
npm-debug.log*
yarn-error.log*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.sass-cache/
.npm/
.cache/
.next/
.vscode/
.idea/
.vscode/
coverage/
cypress/screenshots/
cypress/videos/
context/*
databases/*

